{
    "cloudwatch.emitMetrics": true,
    "cloudwatch.endpoint": "monitoring.MACRO_DEPLOYMENT_REGION.amazonaws.com",
    "kinesis.endpoint": "kinesis.MACRO_DEPLOYMENT_REGION.amazonaws.com",
    "flows": [
        {
            "filePattern": "/var/log/nginx/postdata.log*",
            "kinesisStream": "MACRO_KINESIS_STREAM_NAME",
            "initialPosition": "START_OF_FILE",
            "maxBufferAgeMillis": 30000,
            "maxBufferSizeBytes": 524288,
            "maxBufferSizeRecords": 400,
            "minTimeBetweenFilePollsMillis": 500,
            "partitionKeyOption": "RANDOM"
        }
    ]
}
