FLUENTBIT_INPUT_HTTP_PORT=MACRO_FLUENTBIT_HTTP_PORT
FLUENTBIT_OUTPUT_AWS_REGION=MACRO_FLUENTBIT_AWS_REGION
FLUENTBIT_OUTPUT_KINESIS_STREAM=MACRO_FLUENTBIT_KINESIS_STREAM
FLUENTBIT_LOG_LEVEL=MACRO_FLUENTBIT_LOG_LEVEL